/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 30, 2017, 2:25:11 PM
    Author     : ervinne
*/

.form-control,.select2-selection,.select2-search__field {
    background-color: white !important;
}

.form-control:disabled,.form-control[readonly] {
    background-color: #d9dce2 !important;
}

.select2-container--disabled .select2-selection {
    background-color: #d9dce2 !important;
}

.h-120 {
    height: 120px !important;   
}

.h-130 {
    height: 130px !important;   
}

.error {
    color: red;
}

/*  Dropzone fit images*/
.dz-image img {
    width: 100%;
    height: 100%;
}

.full-width {
    width: 100% !important;
}
